$starless: #000000;
$elijah__snow: #ffffff;

$friki__ink: #003333;
$friki__purple: #990099;
$friki__aqua: #00cc99;

$otaku__red: #ff0000;
$otaku__pink:  #ff99ff;

$comics__orange: #ff6600;
$comics__yellow: #ffcc00;

$gamer__green: #00bb00;
$gamer__greenlight: #ccff00;

$scifi__blue: #0000ee;
$scifi__bluelight: #33ffff;

$toys__cepia: #993300;
$toys__gray: #c0c092;

$horror__black: #000000;
$horror__pink: #990000;

$tabletop__yellow: #FFE840;
$tabletop__aqua: #00A0A0;

$lamole__blue: #0072fd;
